.button {
    inline-size: 1.5rem;
    block-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button > * {
    font-size: 1.5rem;
}

.button:active {
    transform: scale(.9);
}