.user {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.user p span {
    display: block;
}

.user-name {
    color: var(--black);
    font: var(--body-16regular);
}

.user-status {
    color: var(--grey);
    font: var(--caption-12regular);
    text-transform: uppercase;
}

.user-avatar {    
    border-radius: 50%;
}